.bg-hero-login {
  position: relative;
  background-image: url("../../assets/5559852.jpg");
  background-size: cover;
  background-position: center;
  min-height: 99.9vh;
  align-content: center;
  display: flex;
  flex-direction: column;
}

.footer-login {
  margin: auto;
  margin-bottom: 10px !important;
}

.form-login {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.login-card {
  margin: auto;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer-login {
  font-size: 0.875rem !important;

}

.dialogContent-login {
  margin-left: 6px;
  margin-top: 0rem;
}

.dialog-login.p-dialog.p-dialog-header.p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.dialog-login.p-dialog {
  width: 30vw !important;
}

.form-login {
  .p-card .p-card-title {
    padding: 1.25rem;
    text-align: center;
  }

  .p-card {
    width: 45% !important;
  }

  .p-password {
    display: block;
  }

  .p-password-input {
    width: 100% !important;
  }

  .p-autocomplete-input {
    width: 100% !important;
  }

  .p-autocomplete {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .p-button {
    border-radius: 20px;
  }

  .p-button .p-button-label {
    transition-duration: unset;
  }
}

@media (max-width: 1300px) {
  .form-login {
    .p-card {
      width: 66.6667% !important;
    }
  }
}

@media (max-width: 1000px) {
  .dialog-login.p-dialog.p-dialog-header.p-dialog-title {
    font-size: 1rem !important;
  }

  .dialog-login.p-dialog {
    width: 40vw !important;
  }
}

@media (max-width: 850px) {
  .footer-login {
    font-size: 13px !important;
  }

  .dialog-login.p-dialog {
    width: 45vw !important;
  }
}

@media (max-width: 650px) {
  .dialog-login .p-dialog-header .p-dialog-title {
    font-size: 1rem !important;
  }

  .dialogContent-login {
    margin-top: 3px;
    font-size: 14.4px;
  }

  .dialog-login {
    .p-dialog-footer {
      .p-button {
        width: 80px;
        height: 40px;
        font-size: 14.4px;
      }
    }

    .pi {
      font-size: 14.4px;
    }

    .p-icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .dialog-login.p-dialog {
    width: 50vw !important;
  }

  .form-login {
    .p-card {
      width: 83% !important;
    }

    .p-inputtext {
      font-size: 14.4px;
    }

    form > p {
      font-size: 14.4px !important;
    }

    .p-card .p-card-title {
      font-size: 1.2rem;
    }

    .create-account > p {
      font-size: 14.4px;
    }

    .log-in-button {
      font-size: 14.4px !important;
    }
  }
}

@media (max-width: 600px) {
  .dialog-login.p-dialog {
    width: 60vw !important;
  }
}

@media (max-width: 500px) {
  .footer-login {
    font-size: 12px !important;
    width:70% !important;
  }

  .form-login {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  .form-login {
    .create-account > p {
      font-size: 13.4px;
    }
  }

  .dialog-login .p-dialog-header .p-dialog-title {
    font-size: 0.9rem !important;
  }

  .dialog-login {
    .p-dialog-footer {
      .p-button {
        width: 75px;
        height: 35px;
        font-size: 13.4px;
      }
    }

    .pi {
      font-size: 13.4px;
    }

    .p-icon {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .dialogContent-login {
    margin-top: 2px;
    font-size: 13.4px;
  }

  .dialog-login.p-dialog {
    width: 70vw !important;
  }

}

@media (max-width: 400px) {
  .footer-login {
    font-size:11px !important;
    width:60% !important;
  }

  .form-login {
    margin-top: 3rem !important;
  }

  .dialog-login.p-dialog {
    width: 80vw !important;
  }

  .form-login {
    .p-inputtext {
      font-size: 13.4px;
    }

    .p-card {
      width: 90% !important;
    }

    form > p {
      font-size: 13.4px !important;
    }

    .p-card .p-card-title {
      font-size: 1.15rem;
    }

    .create-account > p {
      font-size: 12.5px;
    }

    .log-in-button {
      font-size: 13.4px !important;
    }
  }

  .footer-login {
    font-size: 12.33333 !important;
  }
}

@media (max-width: 340px) {
  .form-login {
    .create-account > p {
      font-size: 11.7px;
    }
  }
}
