.p-1px {
  padding: 1px;
}
.p-half {
  padding: 0.5px;
}

.mt-100px {
  margin-top: 100px;
}

.mt-50px {
  margin-top: 50px;
}


.ml-6px{
  margin-left:6px;
}

.w-100px {
  width: 100px;
}

.mb-50px {
  margin-bottom: 50px;
}

.mb-100px {
  margin-bottom: 100px;
}

.mb-200px {
  margin-bottom: 200px;
}

.border-red {
  border: 1px solid #d9342b !important;
  border-radius: 6px;
}

.border-grey {
  border: 1px solid #d1d5db !important;
  border-radius: 6px;
}

.min-w-183px {
  min-width: 183px;
}

.w-620px {
  width: 620px;
}

.w-820px {
  width: 820px;
}

.mb-9{
  margin-bottom: 6rem;
}

.mb-10{
  margin-bottom: 7rem;
}

.pad-left{

  padding-left:1rem !important;
}