.bg-hero-home {
  position: relative;
  background-image: url("../../assets/5559852.jpg");
  background-size: cover;
  background-position: center;
  min-height: 99.9vh;
  display: flex;
  flex-direction: column;
}

.home {
  display: flex;
  flex-direction: column;
}

.truncate-username {
  display: inline-block;
  max-width: 16ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.createShortURL {
  margin-top: 1.5rem;
}

.p-column-filter-row .p-column-filter-element {
  min-width: 8rem;
}

.originalURLColumn {
  min-width: 14rem;
}

.shortURLColumn {
  min-width: 14rem;
}

.deleteURLColumn {
  min-width: 12rem;
}

.form-home .errorMessage {
  font-size: 0.875rem !important;
}

.footer-home {
  font-size: 0.875rem !important;
  margin-bottom: 10px !important;
  margin: auto;
  text-align: center;
}

.navbar {
  height: 50px;
  background-color: #28518c75;
  margin-right: 0px;
  // margin-left: auto;
  align-content: center;
}

.navlink,
.navlink-auth {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.navlink,
.navlink-auth > div > div > span {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.menu {
  padding-right: 20px !important;
  height: 50px;
  padding-left: 15px;
  width: 200px;
  background-color: rgba(40, 81, 140, 0.458823529);
  border-top: 1px solid #423e3e;
}

.menu:hover {
  background-color: rgba(40, 81, 140, 0.6882352);
}

.navlink > .login > span {
  font-family: "Montserrat", sans-serif;
  color: white;
  user-select:none;
}

.navlink > .login {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  height: 50px;
  margin-right: 20px;
}

.navlink-auth > div > .username {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-right: 20px !important;
  height: 50px;
  padding-left: 15px;
  cursor: pointer;
}

.navlink-auth > div > .username:hover {
  background-color: rgba(40, 81, 140, 0.3882352);
}

.navlink-auth > div > .menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-right: 20px !important;
  height: 50px;
  padding-left: 15px;
  cursor: pointer;
  z-index: 10000;
}

.navlink-auth > div > .menu:hover {
  background-color: rgba(40, 81, 140, 0.6882352);
}

.title > h1 {
  font-family: "Montserrat", sans-serif;
}

.title > p {
  font-family: "Raleway", sans-serif;
}

.title {
  padding: 2rem;
  padding-top: 0.5rem !important;
  margin-top: 20px;
}

.shortURLForm {
  margin-bottom: 65px;
  margin-top: 1rem;
}

.shorturl.p-dialog .p-dialog-header {
  padding: 0px;
}

.shorturl.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 17px;
  margin-top: 10px;
}

.shorturl.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-left: 30px;
}

.shorturl.p-dialog {
  width: 50vw !important;
}

.tableOfURLs {
  width: 60%;
  margin: auto;
  position: relative;
}

.listOfURLs {
  background-color: rgba(40, 81, 140, 0.458823529);

  .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    padding-left: 4rem;
  }

  .p-datatable .p-datatable-thead > tr > th {
    padding-left: 4rem;
  }

  tr td:nth-child(3) {
    padding-left: 6rem !important;
    text-align: right;
  }

  a:visited {
    color: #171c28;
  }

  a {
    color: #171c28;
  }

  .truncate-text {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
}

.listOfURLsTitle {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
}

.shortURLImage {
  position: absolute;
  height: 100px;
  left: -200px;
  top: 250px;
}

.home-table {
  .p-datatable {
    width: 100%;
    margin: auto;
    margin-bottom: 70px;
  }

  .p-datatable .p-datatable-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .p-datatable .p-paginator-bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

.first-title {
  font-size: 2.5rem !important;
}

.form-home {
  .url {
    font-family: "Montserrat";
  }

  .p-autocomplete-input {
    width: 100% !important;
  }

  .p-autocomplete {
    width: 100%;
  }

  .borderRedZone {
    .p-inputtext {
      outline: none;
    }

    .p-inputtext:enabled:focus {
      outline: none;
      outline-offset: unset;
      box-shadow: unset;
      border-color: rgb(209, 213, 219);
    }

    .p-inputtext:enabled:hover {
      border-color: rgb(209, 213, 219);
    }
  }

  .p-card {
    width: 60% !important;
  }
}

.shorturl {
  .p-inputtext {
    outline: none;
  }

  .p-inputtext:enabled:focus {
    outline: none;
    outline-offset: unset;
    box-shadow: unset;
    border-color: rgb(209, 213, 219);
  }

  .p-inputtext:enabled:hover {
    border-color: rgb(209, 213, 219);
  }
}

.dialogContent-delete {
  margin-left: 6px;
  max-width: 80%;
  margin-top: 0rem;
}

.dialog-delete.p-dialog.p-dialog-header.p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.dialog-delete.p-dialog {
  width: 35% !important;
}

.dialog-delete {
  .p-dialog-footer {
    .p-button {
      width: 110px;
      height: 40px;
      font-size: 14px;
    }
  }

  .pi {
    font-size: 14px;
  }

  .p-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}

@media (max-width: 1300px) {
  .p-card {
    width: 66.6667% !important;
  }
}

@media (max-width: 1000px) {
  .dialog-delete.p-dialog.p-dialog-header.p-dialog-title {
    font-size: 1rem !important;
  }

  .dialogContent-delete {
    margin-top: 3px;
    font-size: 14.4px;
  }

  .dialog-delete {
    .p-dialog-footer {
      .p-button {
        width: 110px;
        height: 40px;
        font-size: 14.4px;
      }
    }

    .pi {
      font-size: 14.4px;
    }

    .p-icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .dialog-delete.p-dialog {
    width: 45% !important;
  }

  .form-home .p-card {
    width: 83.333% !important;
  }

  .tableOfURLs {
    width: 83.333% !important;
  }
}

@media (max-width: 900px) {
  .shorturl.p-dialog {
    width: 60vw !important;
  }

  .truncate-username {
    display: inline-block;
    max-width: unset;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: unset;
  
  }


  .navbar {
    height: unset;
  }

  .navlink-auth {
    display: block;
    width: 100%;
  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .navlink-auth > div > .username {
    padding-right: 10px !important;
    justify-content: center;
  }

  .navlink-auth .menu > span {
    font-size: 14px;
  }
}

@media (max-width: 850px) {
  .dialog-delete.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1.1rem !important;
  }

  .dialogContent-delete {
    margin-top: 3px;
    font-size: 14px;
  }

  .dialog-delete {
    .p-dialog-footer {
      .p-button {
        width: 100px;
        height: 40px;
        font-size: 13px;
      }
    }

    .pi {
      font-size: 13px;
    }

    .p-icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .dialog-delete.p-dialog {
    width: 50% !important;
  }

  .navlink > .login > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
  }

  .navlink-auth .username > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
  }

  .listOfURLsTitle {
    font-size: 19.2px !important;
  }

  .p-inputtext {
    font-size: 15px !important;
  }

  .listOfURLs .p-datatable .p-datatable-thead > tr > th {
    padding-left: 3rem;
  }

  .listOfURLs .p-datatable .p-datatable-tbody > tr > td {
    padding-left: 3rem;
    font-size: 15px;
  }

  .listOfURLs tr td:nth-child(3) {
    padding-left: 7rem !important;
  }

  li.p-column-filter-row-item {
    font-size: 15px !important;
  }

  .home-table {
    .pi {
      font-size: 0.95rem;
    }
  }

  .footer-home {
    font-size: 13px !important;
    width: 60%;
  }

  .shorturl .p-dialog-header .p-dialog-title {
    font-size: 1.1rem !important;
  }

  .shorturl.p-dialog {
    width: 60vw !important;
  }

  .shorturl {
    .p-inputtext {
      font-size: 0.9rem;
    }
    .p-button-label {
      font-size: 0.9rem;
    }
    .p-button-icon {
      font-size: 0.9rem;
    }
    .p-dialog-header .p-dialog-header-icon {
      width: 1.75rem;
      height: 1.75rem;
    }

    .p-icon {
      width: 0.975rem;
      height: 0.975rem;
    }
  }

  .first-title {
    font-size: 2.25rem !important;
  }
  .second-title {
    font-size: 1.75rem !important;
  }

  .title > p {
    font-size: 1.2rem !important;
  }

  .form-home .p-card .p-card-title {
    font-size: 1.2rem;
  }

  .home {
    form > p {
      font-size: 0.9rem;
    }
  }

  .form-home .p-inputtext {
    font-size: 0.9rem;
  }

  .form-home .p-button {
    font-size: 0.9rem;
  }

  .form-home .pi {
    font-size: 0.9rem;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }
}

@media (max-width: 750px) {
  .navbar {
    height: unset;
  }

  .navlink-auth {
    display: block;
    width: 100%;
  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .navlink-auth > div > .username {
    padding-right: 10px !important;
    justify-content: center;
  }

  .navlink-auth .menu > span {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .listOfURLsTitle {
    font-size: 17.6px !important;
  }

  .p-inputtext {
    font-size: 14px !important;
  }

  .dialog-delete.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1rem !important;
  }

  .dialogContent-delete {
    margin-top: 3px;
    font-size: 13px;
  }

  .dialog-delete {
    .p-dialog-footer {
      .p-button {
        width: 93px;
        height: 40px;
        font-size: 11.5px;
      }
    }

    .pi {
      font-size: 11px;
    }

    .p-icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .dialog-delete.p-dialog {
    width: 55% !important;
  }

  .listOfURLs tr td:nth-child(3) {
    padding-left: 3rem !important;
  }

  .listOfURLs tr td:nth-child(2) {
    padding-left: 1rem !important;
  }

  .listOfURLs tr th:nth-child(2) {
    padding-left: 1rem !important;
  }

  .originalURLColumn {
    min-width: 7rem;
  }

  .shortURLColumn {
    min-width: 7rem;
  }

  .deleteURLColumn {
    min-width: 0rem;
    width: 10px;
    padding-left: 0px !important;
  }

  .home-table {
    .pi {
      font-size: 0.9rem;
    }
  }

  .keywordSearch {
    width: 200px !important;
  }

  li.p-column-filter-row-item {
    font-size: 14px !important;
  }

  .shorturl.p-dialog {
    width: 80vw !important;
  }

  .first-title {
    font-size: 2rem !important;
  }
  .second-title {
    font-size: 1.5rem !important;
  }

  .title > p {
    font-size: 1.1rem !important;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }
}

@media (max-width: 500px) {
  .shortURLForm {
    margin-bottom: 45px;
    margin-top: 2rem;
  }

  .dialog-delete.p-dialog .p-dialog-header .p-dialog-title {
    font-size: 0.9rem !important;
  }

  .dialogContent-delete {
    margin-top: 3px;
    font-size: 12.5px;
  }

  .dialog-delete {
    .p-dialog-footer {
      .p-button {
        width: 87px;
        height: 35px;
        font-size: 10.5px;
      }
    }

    .pi {
      font-size: 10px;
    }

    .p-icon {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .dialog-delete.p-dialog {
    width: 80% !important;
  }

  .listOfURLs tr td:nth-child(3) {
    padding-left: 2rem !important;
  }

  .listOfURLs tr td:nth-child(2) {
    padding-left: 1rem !important;
  }

  .listOfURLs tr th:nth-child(2) {
    padding-left: 1rem !important;
  }

  .originalURLColumn {
    min-width: 7rem;
  }

  .shortURLColumn {
    min-width: 7rem;
  }

  .deleteURLColumn {
    min-width: 0rem;
    width: 10px;
    padding-left: 0px !important;
  }

  li.p-column-filter-row-item {
    font-size: 13px !important;
  }

  .listOfURLsTitle {
    font-size: 16px !important;
  }

  .p-inputtext {
    font-size: 13px !important;
  }

  .listOfURLs .p-datatable .p-datatable-thead > tr > th {
    padding-left: 2rem;
    font-size: 14px;
  }

  .listOfURLs .p-datatable .p-datatable-tbody > tr > td {
    padding-left: 2rem;
    font-size: 13px;
  }

  .listOfURLs tr td:nth-child(3) {
    padding-right: 1rem !important;
  }

  .home-table {
    .pi {
      font-size: 0.85rem;
    }
  }

  .linkCopied {
    font-size: 12px !important;
  }

  .navbar {
    height: unset;
  }

  .title {
    padding: 0rem !important;
    margin-top: 25px !important;
  }

  .navlink-auth {
    display: block;
    width: 100%;
  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .navlink > .login > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
  }

  .navlink-auth .username > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 14px;
  }

  .navlink-auth > div > .username {
    padding-right: 10px !important;
    justify-content: center;
  }

  .navlink-auth .menu > span {
    font-size: 14px;
  }

  .navlink-auth .menu > .pi {
    font-size: 0.9rem;
  }

  .navlink > .login {
    margin-right: 0px !important;
  }

  .footer-home {
    font-size: 12px !important;
    width: 70%;
  }

  .form-home .errorMessage {
    font-size: 0.75rem !important;
  }

  .form-home .p-card .p-card-title {
    font-size: 1.1rem;
  }

  .home {
    form > p {
      font-size: 0.8rem;
    }
  }

  .form-home .p-inputtext {
    font-size: 0.8rem;
  }

  .form-home .p-button {
    font-size: 0.8rem;
  }

  .form-home .pi {
    font-size: 0.8rem;
  }

  .shorturl.p-dialog {
    width: 70vw !important;
  }

  .shorturl {
    .p-inputtext {
      font-size: 0.85rem;
    }
    .p-button-label {
      font-size: 0.85rem;
    }
    .p-button-icon {
      font-size: 0.85rem;
    }
    .p-dialog-header .p-dialog-header-icon {
      width: 1.65rem;
      height: 1.65rem;
    }

    .p-icon {
      width: 0.95rem;
      height: 0.95rem;
    }
  }

  .shorturl .p-dialog-header .p-dialog-title {
    font-size: 1rem !important;
  }

  .shorturl {
    .dialog-input {
      flex-direction: column !important;
    }
  }

  .form-home .p-icon {
    width: 0.9rem !important ;
    height: 0.9rem !important;
  }

  .first-title {
    font-size: 1.75rem !important;
  }
  .second-title {
    font-size: 1.25rem !important;
  }

  .title > p {
    font-size: 1rem !important;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }

  .second-title {
    width: 70%;
    margin: auto;
  }

  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
  }

  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    color: #6b7280;
    min-width: 2.5rem;
    height: 3rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
  }
}

@media (max-width: 400px) {
  .p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 2rem;
    height: 2rem;
  }

  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    background-color: transparent;
    border: 0 none;
    color: #6b7280;
    min-width: 2.5rem;
    height: 3rem;
    margin: 0.143rem;
    transition: box-shadow 0.2s;
    border-radius: 50%;
  }

  .shortURLForm.p-card.p-component {
    margin-bottom: 55px;
    margin-top: 30px;
  }

  .tableOfURLs {
    width: 85% !important;
  }

  li.p-column-filter-row-item {
    font-size: 12px !important;
  }

  .listOfURLsTitle {
    font-size: 15.2px !important;
  }

  .p-inputtext {
    font-size: 13px !important;
  }

  .listOfURLs .p-datatable .p-datatable-thead > tr > th {
    padding-left: 2rem;
    font-size: 13px;
  }

  .listOfURLs .p-datatable .p-datatable-tbody > tr > td {
    padding-left: 2rem;
    font-size: 12px;
  }

  .listOfURLs tr td:nth-child(3) {
    padding-right: 1rem !important;
  }

  .home-table {
    .pi {
      font-size: 0.8rem;
    }
  }

  .title {
    padding: 0rem !important;
    margin-top: 25px !important;
  }

  .navlink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  .navlink > .login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    margin-right: 0px;
  }

  .navlink-auth .username > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 13.5px;
  }

  .navlink-auth > div > .username > .pi {
    font-size: 0.9rem !important;
  }

  .navlink-auth .menu > span {
    font-size: 13.5px;
  }

  .navlink-auth .menu > .pi {
    font-size: 0.87rem;
  }

  .footer-home {
    font-size: 11px !important;
    width: 60%;
  }
  .form-home .p-button {
    width: 100%;
  }

  .navlink > .login > span {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 15px;
    user-select: none;
  }

  .first-title {
    font-size: 1.45rem !important;
  }
  .second-title {
    font-size: 1rem !important;
  }

  .title > p {
    font-size: 0.95rem !important;
  }

  .shorturl.p-dialog {
    width: 80vw !important;
  }

  .shorturl {
    .p-inputtext {
      font-size: 0.8rem;
    }
    .p-button-label {
      font-size: 0.85rem;
    }
    .p-button-icon {
      font-size: 0.85rem;
    }
    .p-dialog-header .p-dialog-header-icon {
      width: 1.55rem;
      height: 1.55rem;
    }

    .p-icon {
      width: 0.9rem;
      height: 0.9rem;
    }
  }

  .shorturl .p-dialog-header .p-dialog-title {
    font-size: 0.95rem !important;
  }
}
