.menu {
  padding-right: 20px !important;
  height: 50px;
  padding-left: 15px;
  width: 200px;
  background-color: rgba(40, 81, 140, 0.458823529);
  border-top: 1px solid #423e3e;
}

.menu:hover {
  background-color: rgba(40, 81, 140, 0.6882352);
}

.navbar {
  height: 50px;
  background-color: #28518c75;
  margin-right: 0px;
  margin-left: auto;
  align-content: center;
}

.navlinks {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.navlinks > div > div > span {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.navlinks > .login > span {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.navlinks > .login {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  height: 50px;
  margin-right: 20px;
}

.navlinks > div > .username {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
  padding-right: 20px !important;
  height: 50px;
  padding-left: 15px;
  cursor: pointer;
}

.navlinks > div > .username:hover {
  background-color: rgba(40, 81, 140, 0.3882352);
}

.title > h1 {
  font-family: "Montserrat", sans-serif;
}

.title > p {
  font-family: "Raleway", sans-serif;
}

.title {
  padding: 2rem;
}

.p-dialog .p-dialog-header {
  padding: 0px;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 17px;
  margin-top: 10px;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 15px;
  margin-left: 30px;
}

.p-dialog {
  width: 50vw !important;
}

.tableOfURLs{
  width:60%;
  margin:auto;
  position:relative;
 
}

.listOfURLs{
 
  // background-image: url('yeg.jpg');
  // background-size: cover;
  // background-position: center;
  // min-height: 100%;
  background-color: rgba(40, 81, 140, 0.458823529);


  // .p-datatable .p-column-header-content {
  //   display:block;
  // } 
  // .p-datatable .p-datatable-thead > tr > th {
    
  //   text-align:center !important;
  // }

  // .p-column-filter-clear-button{
  //   display:none !important;
  // }


.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e5e7eb;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    padding-left: 4rem;
}

.p-datatable .p-datatable-thead > tr > th {

  padding-left: 4rem;
}


tr td:nth-child(3) {
  
  padding-left: 6rem !important;
  text-align:right;
}

a:visited {
  color: #171c28;
}

a{
  color: #171c28;
}

.truncate-text {
  display: inline-block;
  max-width: 200px;      
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

}




.listOfURLsTitle{

  font-family: "Montserrat", sans-serif;
  color: white;
  font-size:20px;
}


.shortURLImage{

  position:absolute;
  height:100px;
  left:-200px;
  top:250px;

}



.home-table{
  
  .p-datatable {
  
  width: 100%;
  margin: auto;
  margin-bottom: 70px;
} 

.p-datatable .p-datatable-header {

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  
} 

.p-datatable .p-paginator-bottom {

  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;

}

} 

.first-title {
  font-size: 2.5rem !important;
}

.form-home {
  .url {
    font-family: "Montserrat";
  }

  .p-autocomplete-input {
    width: 100% !important;
  }

  .p-autocomplete {
    width: 100%;
  }

 .borderRedZone{ 

  .p-inputtext {
    outline: none;
  }

  .p-inputtext:enabled:focus {
    outline: none;
    outline-offset: unset;
    box-shadow: unset;
    border-color: rgb(209, 213, 219);
  }

  .p-inputtext:enabled:hover {
    border-color: rgb(209, 213, 219);
  }
}

  .p-card {
    width: 60% !important;
  }
}


.shorturl{ 

  .p-inputtext {
    outline: none;
  }

  .p-inputtext:enabled:focus {
    outline: none;
    outline-offset: unset;
    box-shadow: unset;
    border-color: rgb(209, 213, 219);
  }

  .p-inputtext:enabled:hover {
    border-color: rgb(209, 213, 219);
  }
}


@media (max-width: 1300px) {
  .p-card {
    width: 66.6667% !important;
  }
}

@media (max-width: 900px) {
  .p-dialog {
    width: 60vw !important;
  }
}

@media (max-width: 850px) {
  .p-dialog {
    width: 60vw !important;
  }

  .first-title {
    font-size: 2.25rem !important;
  }
  .second-title {
    font-size: 1.75rem !important;
  }

  .title > p {
    font-size: 1.2rem !important;
  }

  .form-home .p-card .p-card-title {
    font-size: 1.2rem;
  }

  form > p {
    font-size: 0.9rem;
  }

  .form-home .p-inputtext {
    font-size: 0.9rem;
  }

  .form-home .p-button {
    font-size: 0.9rem;
  }

  .form-home .pi {
    font-size: 0.9rem;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }
}

@media (max-width: 650px) {
  .p-dialog {
    width: 80vw !important;
  }

  .first-title {
    font-size: 2rem !important;
  }
  .second-title {
    font-size: 1.5rem !important;
  }

  .title > p {
    font-size: 1.1rem !important;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }
}

@media (max-width: 500px) {
  .dialog-input {
    flex-direction: column !important;
  }

  .p-dialog .p-dialog-header .p-dialog-title {
    font-size: 1rem !important;
  }

  .form-home .p-icon {
    width: 0.9rem !important ;
    height: 0.9rem !important;
  }

  .first-title {
    font-size: 1.75rem !important;
  }
  .second-title {
    font-size: 1.25rem !important;
  }

  .title > p {
    font-size: 1rem !important;
  }

  .form-home .p-card {
    width: 83.3333% !important;
  }

  .second-title {
    width: 70%;
    margin: auto;
  }
}
