*{
  /* padding:0px;
  margin:0px; */
  box-sizing: border-box;
}


.bg-hero {
  background-image: url('/ryan-kim-ADvoB9pDkow-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

html,body{
  height: 100vh;
  padding:0px;
  margin:0px;
}

#root{

  height: 100vh;
}

.title > h1{
  font-family: Helvetica, Arial,sans-serif;
  
}



.long-url{
  font-family:'Montserrat';
}

.p-autocomplete-input{
  width:100% !important;
}

/* span .p-autocomplete{
  width:50vw !important
} */

.p-autocomplete{
  width:75vw;
}