*{
  
  box-sizing: border-box;
}


:root{
  --green-600: #1da750;
}


.bg-hero {
  
  background-image: url('5559852.jpg');
  background-size: cover;
  background-position: center;
  min-height: 99.9vh;
}



html,body{
  min-height: 100vh;
  height:auto;
  padding:0px;
  margin:0px;
  background-color: black;
}

#root{

  min-height: 100vh;
  height:auto;
  padding-bottom: 1px;
}


.title{

  padding: 2rem;
}




  








