*{
  /* padding:0px;
  margin:0px; */
  box-sizing: border-box;
}


.bg-hero {
  background-image: url('/ryan-kim-ADvoB9pDkow-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  
}

html,body{
  min-height: 100vh;
  height:auto;
  padding:0px;
  margin:0px;
  background-color: black;
}

#root{

  min-height: 100vh;
  height:auto;
  padding-bottom: 1px;
}

.title{
  min-height: 100vh;
  height:auto;
}

.title > h1{
  font-family: Helvetica, Arial,sans-serif;
  
}



.url{
  font-family:'Montserrat';
}

.p-autocomplete-input{
  width:100% !important;
}


.p-autocomplete{
  width:75vw;
}


.p-dialog .p-dialog-header {

  padding:0px;

}


.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 17px;
  margin-top: 10px;

}  

.p-inputtext:enabled:focus {
  outline: none;
  outline-offset: unset;
  box-shadow: unset;
  border-color: unset;
}